@{
    ViewData["Title"] = "Sobre";
}

<h1>Sobre o Projeto</h1>

<p>
    Este projeto foi criado apenas para aprender Docker.
</p>

<ul>
    <li>ASP.NET Core MVC</li>
    <li>Docker</li>
    <li>Humanizer</li>
</ul>